**Question 77:** Write program to enter month and year. Indicate how many days of that month

In [3]:
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
        return True
    return False

def number_days_of_month(month, year):
    if month == 2:
        if is_leap_year(year):
            return 29
        return 28
    if month == 4 or month ==  6 or month == 9  or month == 11:
        return 30
    return 31

In [10]:
month, year = map(int, input().split())
number_days_of_month(month, year)

2 2000

29

**Question 78:** Write a program to enter a date (day, month, year). Find the date next to the date you entered (day, month, year).

In [2]:
def is_valid_date(day, month, year):
    if day < 0 or day > number_days_of_month(month, year):
        return False
    if month < 0 or month > 12:
        return False
    if year < 0 or year > 9999:
        return False
    return True

In [27]:
def find_next_date(day, month, year):
    if not is_valid_date(day, month, year):
        print('Error: Invalid date')
        return
    next_day, next_month, next_year = day, month, year
    if day == number_days_of_month(month, year):
        next_day = 1
        if month == 12:
            next_month = 1
            next_year = year + 1
        else:
            next_month = month + 1
    else:
        next_day = day + 1
    print('The next date of {3}/{4}/{5} is {0}/{1}/{2}'.format(next_day, next_month, next_year, day, month, year))

In [28]:
day, month, year = map(int, input().split())
find_next_date(day, month, year)

31 12 2020
The next date of 31/12/2020 is 1/1/2021

**Question 79:** Write a program to enter a date (day, month, year). Find the date before the date you entered (day, month, year).

In [1]:
def find_previous_date(day, month, year):
    if not is_valid_date(day, month, year):
        print('Error: Invalid date')
        return
    previous_day, previous_month, previous_year = day, month, year
    if day == 1:
        if month == 1:
            previous_month = 12
            previous_year = year - 1
        else:
            previous_month = month - 1
        previous_day = number_days_of_month(previous_month, previous_year)
    else:
        previous_day = day - 1
    print('The previous date of {3}/{4}/{5} is {0}/{1}/{2}'.format(previous_day, previous_month, previous_year, day, month, year))

In [35]:
day, month, year = map(int, input().split())
find_previous_date(day, month, year)

1 3 2020
The previous date of 1/3/2020 is 29/2/2020

**Question 80:** Write a program to enter day, month and year. Calculate what the day is in the year.

In [17]:
def find_date_of_year(day, month, year):
    if not is_valid_date(day, month, year):
        print('Error: Invalid date')
        return
    count_date = 0
    for i in range(1, month):
        count_date += number_days_of_month(i, year)
    print('{0}/{1} is the {3} day of {2}'.format(day, month, year, count_date + day))

day, month, year = map(int, input().split())
find_date_of_year(day, month, year)

31 12 2021
31/12 is the 365 day of 2021

**Question 83:** Write a program for entering three-digit integers. Print out how to read it.

In [88]:
def get_len(n):
    if n == 0:
        return 1
    len = 0
    while n > 0:
      len += 1
      n //= 10
    return len

def get_tens_row(n):
    n //= 10
    return n % 10

def unit(number, row, number_of_digits, tens_row, unit_row):
    switcher = {
          0 : 'không',
          1 : 'một',
          2 : 'hai',
          3 : 'ba',
          4 : 'bốn',
          5 : 'năm',
          6 : 'sáu',
          7 : 'bảy',
          8 : 'tám',
          9 : 'chín'
        }
    if row == 0 : #'unit'
        if number_of_digits > 1:
          switcher[0] = ''
          switcher[5] = 'lăm'
          if tens_row > 1:
            switcher[1] = 'mốt'
        return switcher.get(number, 'Invalid number')
    elif row == 1: #'tens':
        switcher[1] = 'mười'
        if number_of_digits == 2:
          return switcher.get(number) + ' mươi' if number != 1 else switcher.get(number)
        if number_of_digits == 3:
          if tens_row > 1 and unit_row == 0: #error without it: 11 mười mốt
            return switcher.get(number) + ' mươi'
          if unit_row == 0:
            switcher[0] = ''
            return switcher.get(number) 
          if tens_row == 0:
            switcher[0] = 'lẻ'
            return switcher.get(number)
        return switcher.get(number) + ' mươi' if number != 1 else switcher.get(number)
    elif row == 2: #'hunders':
        switcher[0] = ''
        return switcher.get(number, 'Invalid number') + ' trăm'
    else:
        return switcher.get(number, 'Invalid number')

def read_number(n):
    len = get_len(n)
    tens_row = None if len < 2 else get_tens_row(n) 
    unit_row = n % 10
    answer = ''
    for i in range(len):
        number = n % 10
        answer = unit(number, i, len, tens_row, unit_row) + ' ' + answer
        n //= 10
    return answer

In [90]:
for i in range(201):
    print(i , read_number(i))

0 không
1 một
2 hai
3 ba
4 bốn
5 năm
6 sáu
7 bảy
8 tám
9 chín
10 mười
11 mười một
12 mười hai
13 mười ba
14 mười bốn
15 mười lăm
16 mười sáu
17 mười bảy
18 mười tám
19 mười chín
20 hai mươi
21 hai mươi mốt
22 hai mươi hai
23 hai mươi ba
24 hai mươi bốn
25 hai mươi lăm
26 hai mươi sáu
27 hai mươi bảy
28 hai mươi tám
29 hai mươi chín
30 ba mươi
31 ba mươi mốt
32 ba mươi hai
33 ba mươi ba
34 ba mươi bốn
35 ba mươi lăm
36 ba mươi sáu
37 ba mươi bảy
38 ba mươi tám
39 ba mươi chín
40 bốn mươi
41 bốn mươi mốt
42 bốn mươi hai
43 bốn mươi ba
44 bốn mươi bốn
45 bốn mươi lăm
46 bốn mươi sáu
47 bốn mươi bảy
48 bốn mươi tám
49 bốn mươi chín
50 năm mươi
51 năm mươi mốt
52 năm mươi hai
53 năm mươi ba
54 năm mươi bốn
55 năm mươi lăm
56 năm mươi sáu
57 năm mươi bảy
58 năm mươi tám
59 năm mươi chín
60 sáu mươi
61 sáu mươi mốt
62 sáu mươi hai
63 sáu mươi ba
64 sáu mươi bốn
65 sáu mươi lăm
66 sáu mươi sáu
67 sáu mươi bảy
68 sáu mươi tám
69 sáu mươi chín
70 bảy mươi
71 bảy mươi mốt
72 bảy mươi hai
73 bảy mươi ba
74 bảy mươi bốn
75 bảy mươi lăm
76 bảy mươi sáu
77 bảy mươi bảy
78 bảy mươi tám
79 bảy mươi chín
80 tám mươi
81 tám mươi mốt
82 tám mươi hai
83 tám mươi ba
84 tám mươi bốn
85 tám mươi lăm
86 tám mươi sáu
87 tám mươi bảy
88 tám mươi tám
89 tám mươi chín
90 chín mươi
91 chín mươi mốt
92 chín mươi hai
93 chín mươi ba
94 chín mươi bốn
95 chín mươi lăm
96 chín mươi sáu
97 chín mươi bảy
98 chín mươi tám
99 chín mươi chín
100 một trăm
101 một trăm lẻ một
102 một trăm lẻ hai
103 một trăm lẻ ba
104 một trăm lẻ bốn
105 một trăm lẻ lăm
106 một trăm lẻ sáu
107 một trăm lẻ bảy
108 một trăm lẻ tám
109 một trăm lẻ chín
110 một trăm mười
111 một trăm mười một
112 một trăm mười hai
113 một trăm mười ba
114 một trăm mười bốn
115 một trăm mười lăm
116 một trăm mười sáu
117 một trăm mười bảy
118 một trăm mười tám
119 một trăm mười chín
120 một trăm hai mươi
121 một trăm hai mươi mốt
122 một trăm hai mươi hai
123 một trăm hai mươi ba
124 một trăm hai mươi bốn
125 một trăm hai mươi lăm
126 một trăm hai mươi sáu
127 một trăm hai mươi bảy
128 một trăm hai mươi tám
129 một trăm hai mươi chín
130 một trăm ba mươi
131 một trăm ba mươi mốt
132 một trăm ba mươi hai
133 một trăm ba mươi ba
134 một trăm ba mươi bốn
135 một trăm ba mươi lăm
136 một trăm ba mươi sáu
137 một trăm ba mươi bảy
138 một trăm ba mươi tám
139 một trăm ba mươi chín
140 một trăm bốn mươi
141 một trăm bốn mươi mốt
142 một trăm bốn mươi hai
143 một trăm bốn mươi ba
144 một trăm bốn mươi bốn
145 một trăm bốn mươi lăm
146 một trăm bốn mươi sáu
147 một trăm bốn mươi bảy
148 một trăm bốn mươi tám
149 một trăm bốn mươi chín
150 một trăm năm mươi
151 một trăm năm mươi mốt
152 một trăm năm mươi hai
153 một trăm năm mươi ba
154 một trăm năm mươi bốn
155 một trăm năm mươi lăm
156 một trăm năm mươi sáu
157 một trăm năm mươi bảy
158 một trăm năm mươi tám
159 một trăm năm mươi chín
160 một trăm sáu mươi
161 một trăm sáu mươi mốt
162 một trăm sáu mươi hai
163 một trăm sáu mươi ba
164 một trăm sáu mươi bốn
165 một trăm sáu mươi lăm
166 một trăm sáu mươi sáu
167 một trăm sáu mươi bảy
168 một trăm sáu mươi tám
169 một trăm sáu mươi chín
170 một trăm bảy mươi
171 một trăm bảy mươi mốt
172 một trăm bảy mươi hai
173 một trăm bảy mươi ba
174 một trăm bảy mươi bốn
175 một trăm bảy mươi lăm
176 một trăm bảy mươi sáu
177 một trăm bảy mươi bảy
178 một trăm bảy mươi tám
179 một trăm bảy mươi chín
180 một trăm tám mươi
181 một trăm tám mươi mốt
182 một trăm tám mươi hai
183 một trăm tám mươi ba
184 một trăm tám mươi bốn
185 một trăm tám mươi lăm
186 một trăm tám mươi sáu
187 một trăm tám mươi bảy
188 một trăm tám mươi tám
189 một trăm tám mươi chín
190 một trăm chín mươi
191 một trăm chín mươi mốt
192 một trăm chín mươi hai
193 một trăm chín mươi ba
194 một trăm chín mươi bốn
195 một trăm chín mươi lăm
196 một trăm chín mươi sáu
197 một trăm chín mươi bảy
198 một trăm chín mươi tám
199 một trăm chín mươi chín
200 hai trăm

**Question 83:** Write a program that prints out a triangle of height h

In [18]:
h = int(input())

5

**a.** The isosceles triangle is located in the middle of the screen.

In [19]:
indent = (1 + h * 2) // 2 - 1
number_of_star = 1
for i in range(1, h + 1):
    print('  ' * indent + '* ' * number_of_star )
    indent -= 1
    number_of_star += 2

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

**b.** The empty isosceles triangle is in the middle of the screen

In [21]:
indent = (1 + h * 2) // 2 - 1
number_of_star = 1
for i in range(1, h + 1):
    if i == 1:
        print('  ' * indent + '*')
    elif i == h:
        print('* ' * number_of_star)
    else:
        number_of_space = number_of_star - 2
        print('  ' * indent + '* ' + '  ' * number_of_space + '*' )
    indent -= 1
    number_of_star += 2

        *
      *   *
    *       *
  *           *
* * * * * * * * *

**c.** Solid isosceles right triangle

In [20]:
for i in range(1, h + 1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *

**d.** Empty isosceles right triangle

In [22]:
for i in range(1, h + 1):
    if i == 1:
        print('*')
    elif i == h:
        print('* ' * h)
    else:
        print('* ' + '  ' * (i - 2) + '*')

*
* *
*   *
*     *
* * * * *