# **Basic Exercise**

**Question 1:** Count the space characters in the character string

In [ ]:
#Option 1
def count_space(str):
    count = 0
    for char in str:
        if char.isspace():
            count += 1
    return count

str = input()
count_space(str)

   The secret of life, though, is to fall seven times and to get up eight times

18

In [ ]:
#Option 2
str = input()
print(str.count(' '))

   The secret of life, though, is to fall seven times and to get up eight times
18

**Question 2:** Count upper and lower case characters in the character string

In [ ]:
def count_upper_case_characters(str):
    count = 0
    for char in str:
        if char.isupper():
            count += 1
    return count

def count_lower_case_characters(str):
    count = 0
    for char in str:
        if char.islower():
            count += 1
    return count

str = input()
lower_case = count_lower_case_characters(str)
upper_case = count_upper_case_characters(str)
print('lower_case = ', lower_case)
print('upper_case = ', upper_case)

When we strive to become better than we are, everything around us becomes better, too
lower_case =  68
upper_case =  1

**Question 3:**  Convert words at the beginning of a sentence to upper case and non-sentence words to lower case

In [ ]:
str = input()
print(str.title())

UNIVERSITY OF information technology
University Of Information Technology

**Question 4, 5:** Convert lowercase characters to uppercase

In [ ]:
#Option 1
def convert_lowercase_uppercase(str):
    str = list(str)
    for i in range(len(str)):
        if str[i].islower():
            str[i] = str[i].upper()
        else:
            str[i] = str[i].lower()
    return ''.join(str)

str = input()
convert_lowercase_uppercase(str)

And, when you want something, ALL THE UNIVERSE conspires in helping you to achieve it

'aND, WHEN YOU WANT SOMETHING, all the universe CONSPIRES IN HELPING YOU TO ACHIEVE IT'

In [40]:
#Option 2
str = input()
str.swapcase()

And, when you want something, ALL THE UNIVERSE conspires in helping you to achieve it

'aND, WHEN YOU WANT SOMETHING, all the universe CONSPIRES IN HELPING YOU TO ACHIEVE IT'

**Question 6:** List the words in the string

In [ ]:
str = input()
str.split()

There are seven words in this sentence

['There', 'are', 'seven', 'words', 'in', 'this', 'sentence']

**Question 7:** Reverse the string

In [ ]:
str = input()
str[::-1]

This is a string

'gnirts a si sihT'

In [ ]:
str = input()

lst = list(reversed(str))
print(''.join(lst))

This is a string
gnirts a si sihT

**Question 8:** Reverse the words in a sequence

In [ ]:
s = str(input())

s = s.split(" ")
s.reverse()
s = " ".join(s)

print(s)

Python Exercises
Exercises Python

**Question 9:** Check if the string is symmetrical

In [15]:
def is_symmetrical(str):
    return True if str == str[::-1] else False

str = input()
is_symmetrical(str)

123454321

True

**Question 10:** Check if the string `s` is an entire number

In [22]:
str = input()
str.isdigit()

584

True

**Question 11:** Search to see which character appears most in the string

In [29]:
def search_character_appears_most(str):
    most_common_char = str[0]
    max_count = str.count(str[0])
    for char in str:
        if(str.count(char) > max_count):
            most_common_char = char
            max_count = str.count(char)
    return most_common_char, max_count

str = input()
search_character_appears_most(str)

abcaabca

('a', 4)

**Question 12:** Delete spaces to the left and right of the string s.

In [31]:
s = input()
print(s.strip())

                            Seventy seven benevolent elephants
Seventy seven benevolent elephants

**Question 13:** Write a counter function to see how many times the string `s1 ` occurs in the string `s2`

In [1]:
s1 = str(input())
s2 = str(input())

s1.count(s2)

The sixth sick sheik’s sixth sheep’s sick:
sick

2

**Question 14:** Write a function to count the number of words in the string s starting with 2 characters ‘TH’

In [6]:
def count_words_start_with_TH(s):
    count = 0
    s = s.split(" ")
    for word in s:
        if word.startswith('TH'):
            count += 1
    return count

s = str(input())
count_words_start_with_TH(s)

THere are three THs in THis sentence

3

**Question 15:** Enter a character and delete it from the given string

In [37]:
str = input()
char = input()

str.replace(char, '')

How much wood would a woodchuck chuck if a woodchuck could chuck wood?
o

'Hw much wd wuld a wdchuck chuck if a wdchuck culd chuck wd?'

**Question 16:** Enter a word and delete it from the given string

In [6]:
#Approach 1:
def delete_word_in_string(str, word):
    while word in str:
        pos = str.index(word)
        str = str[:pos] + str[(pos+ len(word)):]
    return str

str = input()
word = input()
delete_word_in_string(str, word)

How much wood would a woodchuck chuck if a woodchuck could chuck wood?
wood

'How much  would a chuck chuck if a chuck could chuck ?'

In [32]:
#Approach 2: Do not delete compound words
def delete_word_in_string(str, word_to_delete):
    str = str.split(" ")
    for word in str:
        if word_to_delete in word:
            if word == word_to_delete:
                str.remove(word)
            elif ('?' in word) or (',' in word):
                word_index = str.index(word)
                str[word_index] = str[word_index].replace(word_to_delete, '')
    str = " ".join(str)
    return str

str = input()
word = input()
delete_word_in_string(str, word)

How much wood would a woodchuck chuck if a woodchuck could chuck wood?
wood

'How much would a woodchuck chuck if a woodchuck could chuck ?'

**Question 17:** Change alternate letters 1 uppercase and 1 lowercase in the string

In [44]:
def interleaved_change(str):
    str = list(str)
    for i in range(1, len(str)):
        if str[i - 1].islower():
            str[i] = str[i].upper()
        else:
            str[i] = str[i].lower()
    return ''.join(str)

str = input()
interleaved_change(str)

This is a string

'ThIs iS a sTrInG'

# **Practise**

**Question:** Write a program to swap the first 2 characters of the strings `s1` and `s2` together. The new string is displayed on the screen `s1 + " " + s2`

*For example:*

Input: s1 = `"sun"`, s2 = `"moon"`

Output: `"mon suon"`

In [ ]:
s1 = input()
s2 = input()

temp = s2[0:2] + s1[2:]
s2 = s1[0:2] + s2[2:]

print(temp + " " + s2)

sun
moon
mon suon

**Question:** Given a string. Print a list of words that have more than 3 characters.

For example: 

Input: `"CodeLearn helps you reach your goal"`

Output:` "['CodeLearn', 'helps', 'reach', 'your', 'goal']"`

In [ ]:
str = input()
str = str.split(" ")
lst = []

for word in str:
  if(len(word) > 3):
      lst.append(word)
print(lst)

CodeLearn helps you reach your goal
['CodeLearn', 'helps', 'reach', 'your', 'goal']

In [ ]:
s = 'I love 2 go t0 the store 7 times a w3ek.'
nums = [x for x in s if x.isnumeric()]
print('nums: ' + ''.join(nums))

nums: 2073

References:

https://github.com/joeyajames/Python/blob/master/Strings/Using%20Python%20Strings.ipynb