<a href="https://colab.research.google.com/github/qhuy1901/IT001-IntroductionToProgramming/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**References:**

[1]	“Python Lists.” https://www.w3schools.com/python/python_lists.asp (accessed Jan. 29, 2021).

[2]	“Python Arrays.” https://www.w3schools.com/python/python_arrays.asp (accessed Jan. 29, 2021).

[3]	“Learning with Python_ How to Think Like a Computer Scientist” https://drive.google.com/file/d/1S_q1N7gZBXHzrl9p9p6EiFUlem8owRoi/view?usp=sharing

In [ ]:
import numpy as np

**Question 84, 85, 86, 87:** Write a function that imports a one-dimensional array of real/interger numbers and prints it on the screen.

In [ ]:
n = int(input())
lst = []
for i in range(n):
    lst.append(int(input()))
print(lst)

3
1
2
3
[1, 2, 3]

In [ ]:
n = int(input())
lst = ([float(input()) for i in range(n)])
print(lst)

3
1.9
-8.2
3.4
[1.9, -8.2, 3.4]

**Question 88:** Write a function that lists even values in a one-dimensional array of numbers.

In [ ]:
def list_even_values(lst):
    for val in lst:
       if val % 2 == 0:
         print(val, end = ' ')

n = int(input())
lst = ([int(input()) for i in range(n)])
list_even_values(lst)

4
5
2
9
10
2 10

**Question 89:** Write a function that lists positions where the value is negative in a one-dimensional array of real numbers.

In [ ]:
def list_index_of_negative_values(lst):
    for i in range(len(lst)):
        if lst[i] < 0:
            print(i, end = ' ')

n = int(input())
lst = ([float(input()) for i in range(n)])
list_index_of_negative_values(lst)

3
-3
2
-3
0 2

**Question 90:** Finds "maximum value" in a one-dimensional array of real numbers

In [ ]:
lst = [-5, 3, 2.8, 2, 9.5, 7, -3.5]
max(lst)

9.5

**Question 91:** Finds the "first positive value" in a one-dimensional array of real numbers. If the array has no positive value, -1 is returned.

In [ ]:
def first_positive_value(lst):
    """Return the "first positive value" in a one-dimensional array of real numbers.
    If the array has no positive value, -1 is returned."""
    for val in lst:
        if val > 0:
            return val
    return -1

help(first_positive_value)

Help on function first_positive_value in module __main__:

first_positive_value(lst)
    Return the "first positive value" in a one-dimensional array of real numbers.
    If the array has no positive value, -1 is returned.

In [ ]:
n = int(input())
lst = [float(input()) for i in range(n)]

print(lst)
first_positive_value(lst)

5
3
-12
-1.2
8
-25
[3.0, -12.0, -1.2, 8.0, -25.0]

3.0

**Question 225:** Delete the elements with index `k` in the array.

In [ ]:
n = int(input('n = '))
lst = [float(input()) for i in range(n)]
k = int(input('k = '))

print(lst)
del(lst[k])
print(lst)

n = 2
-3.5
2
k = 1
[-3.5, 2.0]
[-3.5]

**Question 231:** Delete all "prime numbers" in the integer array

In [18]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

def delete_all_prime(lst):
    i = 0
    n = len(lst)
    while(i < n):
        if is_prime(lst[i]):
            lst.remove(lst[i])
            i -= 1
            n -= 1
        i += 1

In [19]:
n = int(input('n = '))
lst = [int(input()) for i in range(n)]

print(lst)
delete_all_prime(lst)
print(lst)

n = 5
2
5
9
5
19
[2, 5, 9, 5, 19]
[9]

**Numpy (Numerical Python)**

According to [w3schools.com](https://) :

NumPy is a Python library used for working with arrays.

It also has functions for working in domain of linear algebra, fourier transform, and matrices.